@model IEnumerable<ReviewApp.Models.SellersItems>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KeyWords)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReviesNeeded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefundDaysTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ppfee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categories)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Image)
                        </td>*@

                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KeyWords)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviesNeeded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RefundDaysTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ppfee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categories)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
 
    @foreach (var item in Model)
    {


          var base64 = Convert.ToBase64String(item.Image);
          var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <img style="width:200px; height: 200px;" src="@imgSrc" />
    }
</body>
</html>
